{% extends "rest_framework_swagger/base.html" %}
{% load staticfiles %}

{% block extra_styles %}

    <style type="text/css">


        .swagger-section #header {
        width: auto;
        height: 40px;
        padding: 10px 40px;
        background: #3f4c6b; /* Old browsers */
        background: -moz-linear-gradient(left, #485563 0%, #29323c 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #485563 0%, #29323c 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #485563 0%, #29323c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4c6b', endColorstr='#3f4c6b', GradientType=1); /* IE6-9 */
        line-height: 40px;
        color: #ffc;
        overflow: hidden;
        border-bottom: 2px #e74c3c;
    }


{#        .swagger-section a.header__btn,#}
{#        .swagger-section #auth_container .authorize__btn {#}
{#    border-radius: 15px;#}
{#}#}
{##}
{#.swagger-section a.header__btn:link a.header__btn:visited,#}
{#        .swagger-section #auth_container a.authorize__btn:link, a.authorize__btn:visited {#}
{#    display: block;#}
{#    float: left;#}
{#    padding: 3px 12px;#}
{#    background: #999;#}
{#    font-weight: 400;#}
{#    font-size: 11px;#}
{#    text-transform: uppercase;#}
{#    letter-spacing: 0.5px;#}
{#    color: #fff;#}
{#}#}
{##}
{#.object-tools a:focus, .object-tools a:hover {#}
{#    background-color: #417690;#}
{#}#}
{##}
{#.object-tools a:focus{#}
{#    text-decoration: none;#}
{#}#}


        .swagger-section a.header__btn,
        .swagger-section #auth_container .authorize__btn {
            display: block;
            #float: left;
            margin-top:8px;
            padding: 8px 12px;
            background: #999;
            font-weight: 400;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            -khtml-border-radius: 4px;
            border-radius: 4px;

        }
        .swagger-section .header__btn:hover,
        .swagger-section #auth_container .authorize__btn:hover {
            background-color: #417690;
        }
    </style>

{% endblock %}


{% block header %}
<div id='header'>
  <div class="swagger-ui-wrap">
    {% block logo %}

{#      <a id="logo" href="{{ FRONTEND_URL }}"><span class="logo__title">Metronom Pro</span></a>#}
    {% endblock %}
    <form id='api_selector'>
      <input id="input_baseUrl" name="baseUrl" type="hidden"/>
      {% if USE_SESSION_AUTH %}
        {% csrf_token %}
        {% block extra_nav %}
            {% if request.user.is_authenticated %}
                        <div class='input'><a id="auth" class="header__btn" href="{{ FRONTEND_URL }}" data-sw-translate>Frontend &raquo;</a></div>
                <div class='input'><a id="auth" class="header__btn" href="{% url 'admin:index' %}" data-sw-translate>Administration &raquo;</a></div>
            {% endif %}
        {% endblock %}
      {% endif %}

      {% if USE_SESSION_AUTH %}
        {% if request.user.is_authenticated %}
          <div class='input'><a id="auth" class="header__btn" href="{% url 'admin:logout' %}?next={{ request.path }}" data-sw-translate>Logout {{ request.user.email }}</a></div>
        {% else %}
          <div class='input'><a id="auth" class="header__btn" href="{% url 'admin:login' %}?next={{ request.path }}" data-sw-translate>Admin Login</a></div>
            <div id='auth_container'></div>

        {% endif %}
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}

