{% extends "admin/base_site.html" %}
{% load i18n static humanize %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}



{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h3>{% trans 'Recent actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
        <br/>
        <h3>{%  trans 'About' %}</h3>
        <ul class="actionlist">
            <li>Stage: <b style="color:red;">{{ STAGE }}</b></li>
            <li>Current Host: {{ SITE_URL }}</li>
            <li>Current Tenant: {{ TENANT_NAME|default:"-" }}</li>
            <li>Python Version: {{ python_version }}</li>
            <li>Django Version: {{ django_version }}</li>
            <li>Git commit: {{ GIT_COMMIT_HASH }}</li>
            {% if ON_HEROKU %}
                <li>Version: {{ HEROKU_RELEASE_VERSION }} ({{ HEROKU_RELEASE_CREATED_AT|naturaltime }})</li>
                <li>Commit: {{ HEROKU_SLUG_COMMIT }}</li>
            {% else %}
                <li><strong>Running locally!</strong></li>
            {% endif %}
        </ul>
        <br/>
        <h3>{%  trans 'Local Development' %}</h3>
        <ul class="actionlist">
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.POSTGRES_ADMIN }}">Postgres Admin &raquo;</a></li>
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.REDIS_BROWSER }}">Redis Browser &raquo;</a></li>
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.SPHINX }}">Sphinx &raquo;</a></li>
{#            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.MAILHOG }}">Mailhog (OFFLINE) &raquo;</a></li>#}
{#            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.RABBITMQ }}">RabbitMQ Management &raquo;</a></li>#}
        </ul>
        <br/>
        <h3>{%  trans 'CI + Production' %}</h3>
        <ul class="actionlist">
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.JENKINS }}">Jenkins &raquo;</a></li>
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.RANCHER }}">Rancher &raquo;</a></li>
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.SENTRY }}">Sentry &raquo;</a></li>
            <li><a class="btn btn-primary btn-lg" href="{{ MANAGEMENT_URLS.DOCKER }}">Docker Hub &raquo;</a></li>
        </ul>
    </div>
</div>
{% endblock %}