<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
</head>
<body>
<h4>
<a href="{% url 'PDFTester' %}"> PDFTester</a> => Only for Test Purpose - Default: Project Offer
</h4>

<h4>
<a href="{% url 'PDFTester' %}?lang=de-ch&doc_type=project&font=Proxima&filename=My%20Lovely%20PDF"> Complex PDFTester</a> => /?lang=de-ch&doc_type=project&font=Proxima&filename=My%20Lovely%20PDF
</h4>
    <div>
        <pre>/?lang=de-ch&doc_type=project&font=Proxima&filename=My%20Lovely%20PDF</pre>

        <strong>lang</strong> = [en, de, de-ch] #default=en<br>
        <strong>doc_type</strong> = [campaign, project] #default=campaign<br>
        <strong>font</strong> = [Proxima, Lato, Roboto, Saira_Semi_Condensed] # default=Proxima<br>
        <strong>filename</strong> = Sample Name Document #default="Sample Title"<br>

    </div>
<br>
<h4>
    <a href="{% url 'HTMLTester' %}"> HTML Version</a> => Only to speed up development for the HTML with Gulp and BrowserSync
</h4>
<br>
<h4>
    <a href="{% url 'GeneratePDF' %}"> GeneratePDF </a> => A `POST` request receiving content data to populate the html template and returns a PDF response.
    Used in production.
</h4>
</body>
</html>
